@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-theme: #ffffff;
  --dark-theme: #000000;
  --color-primary: #03296A;
  --color-primary-light: #03296a50;
  --color-primary-light-2: #eee;
  --deep-sky-blue: #00a0df;
  --color-blue: #023185;
  --color-white: #ffffff;
  --color-gold: #c3964e;
  --color-orange: #e25a28;
  --color-gray: gray;
  --gray: #B6B6B6;
  --gray-light: #B6B6B699;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: "Oswald", sans-serif;*/
}

html,
body {
  scroll-behavior: smooth;
}

.section-title {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.1;
  /*font-family: "Oswald", sans-serif;*/
  font-weight: 700;
  font-size: 2em;
  /*letter-spacing: 0.2em;*/
  color: #000000;
  text-align: center;
  margin: 0;
}

.text-center {
  text-align: center;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  min-width: 250px;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 0px;
  border-color: black;
  border-width: 1px;
  padding: 7px;
}

.form textarea {
  min-width: 250px;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 0px;
  border-color: black;
  border-bottom-width: 1px;
  padding: 7px 0 7px 0;
  height: 135px;
}

.form {
  margin: 30px 0px 45px 0px;
}

.form label {
  display: block;
  font-size: 12px;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 18px;
}

.form input {
  min-width: 250px;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 0px;
  border-color: black;
  border-bottom-width: 1px;
  padding: 7px 0 7px 0;
  outline: none;
}

.form textarea {
  min-width: 250px;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 0px;
  border-color: black;
  border-bottom-width: 1px;
  padding: 7px 0 7px 0;
  min-height: 135px;
  max-height: 275px;
  outline: none;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: var(--color-orange);
  color: #fff;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: var(--color-primary-light);
  cursor: crosshair;
}

.row-base.row {
  padding-top: 3em;
}

.content-img-round {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.075px;
}

.p-footer {
  padding: 30px 0px 30px 0px;
}

.project-title-card {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  /*font-family: "Oswald", sans-serif;*/
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  text-shadow: 3px 3px 5px gray;
  box-shadow: #000000;
}

.text-shadow {
  color: #ffffff;
  text-shadow: 5px 5px 10px #333333;
}

.project-title-card-2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  /*font-family: "Oswald", sans-serif;*/
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  text-shadow: 2px 2px 4px #B6B6B650;
}

.project figure {
  position: relative;
}

figure {
  margin: 0;
}

.bg-footer {
  background-color: var(--color-primary);
}

.p-section-50 {
  background-color: var(--color-primary-light-2);
}

.font-50 {
  font-size: 30px;
  font-weight: 600;
  line-height: 0;
  margin-top: 10px;
  /*color: var(--deep-sky-blue);
  /*color: var(--deep-sky-blue);*/
  color: #777;
  text-align: center;
}


.font--50 {
  font-size: 11px;
  font-weight: 200;
  /*width: 100%;
  /*margin-bottom: 30px;*/
  text-align: center;
}

.css-141rheu {
  padding-bottom: 3rem !important;
}

.content-circle {
  position: relative;
  text-align: center;
  z-index: 99;
}

.css-0 {
  width: 100%;
}

.circle {
  position: absolute;
  width: 12px;
  height: 12px;
  /*border-radius: 50%;*/
  border-radius: 50% 50% 50% 0;
  /* Establece el radio de las esquinas para dar forma a la gota */
  transform: rotate(325deg);
  z-index: 100;
  background-color: var(--color-primary);
  /*box-shadow: 0 0 3px 3px var(--color-primary-light);*/
}

.circle::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--deep-sky-blue);
  border-radius: 50%;
  top: 5px;
  left: 4px;
}

.circle:hover {
  /*width: 15px;
  height: 15px;*/
  /*background-color: var(--color-primary);*/
  box-shadow: 1px 1px 8px 8px var(--color-primary-light);
}

.circle-01 {
  top: 16%;
  left: 17%;
}

.circle-02 {
  top: 26%;
  left: 25%;
}

.path {
  position: absolute;
  width: 255px;
  height: 255px;
  background-image: url('/icons/tren.ico');
  z-index: 100;
  object-fit: cover;
  background-repeat: no-repeat;
  scale: 0.1;
}

.iframe-maya {
  margin: -1rem;
  margin-bottom: 1rem;
}

.path-web {
  top: 15%;
  left: 50%;
}

.path-mov {
  top: 48%;
  left: 75%;
}

.project {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.project-title {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  /*font-family: "Oswald", sans-serif;*/
  font-weight: normal;
  font-size: 1.56em;
  line-height: 1.45;
  letter-spacing: 0.07em;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
}

.project-category {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #ea1c2b;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9em;
  height: 9em;
  margin: -4.5em;
  border-radius: 0px;
  background-color: #ea1c2b;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.7s;
}

.project-zoom {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #ea1c2b;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9em;
  height: 9em;
  margin: -4.5em;
  overflow: hidden;
  opacity: 0.3;
  transform: scale(0.5);
  filter: grayscale(100%) drop-shadow(10px 10px 10px black);
  transition: all 0.7s;
  background: url(https://www.marhnos.com.mx/public/web/img/zoom.png) 0 0 no-repeat;
}

.project-zoom:hover {
  opacity: 1;
  scale: 1.2;
}


body::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-theme) !important;
}

._main {
  color: var(--dark-theme);
}

.section-5 {
  padding: 25px 0px 0px 0px;
}

.text-modal-image {
  position: absolute;
  bottom: 50px;
  /*left: 10px;*/
  /*right: inherit;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col-about-title-system {
  color: #ffffff;
  text-shadow: 3px 3px 5px gray;

}

.col-about-title {
  /*text-transform: uppercase;*/
}

.card__img,
.img_projects {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card__img:hover,
.img_projects:hover {
  transform: scale(1.03);
}

.img_projects:hover {
  transform: scale(1.15);
}

.col-about-info {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.nav {
  /*background: var(--light-theme);*/
  height: 130px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .5s;
}

.nav-small {
  background: var(--light-theme);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .5s;
}

.line-banner {
  content: "";
  width: 55px;
  height: 2px;
  display: block;
  margin: 30px auto;
}

.line-banner-small {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color-gold);
  margin: 15px 0;
}

.line-banner-btn {
  content: "";
  width: 30px;
  height: 3px;
  background: #e25a28;
  display: block;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

.enlace {
  /*position: absolute;*/
  padding: 5px 0px 5px 30px;
}

.logo {
  height: 120px;
  transition: all .5s;
}

.logo-small {
  height: 70px;
  transition: all .5s;
}

.text-primary-blue {
  color: var(--color-primary);
}

nav ul {
  float: right;
  /* margin-right: 20px; */
  /*padding-top: 15px;*/
}

nav ul li {
  display: inline-block;
  line-height: 59px;
  margin: 0 12px;
}

nav ul li a {
  color: var(--color-primary);
  padding: 6px;
  /*border-radius: 3px;*/
  /*text-transform: uppercase;*/
  font-size: 13px;
  font-weight: 500;
}

button#dropdown-basic {
  color: var(--color-primary);
  padding: 6px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  line-height: 59px;
  border: 0px;
}

button#dropdown-basic-2 {
  color: white;
  padding: 6px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  line-height: 59px;
  border: 0px;
}

.white {
  color: var(--color-white);
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button#dropdown-basic:hover,
button#dropdown-basic-2:hover {
  color: var(--color-orange);
  cursor: crosshair;
}

li a.active {
  /*background: var(--color-primary);
  color: var(--light-theme);*/
  border-top-width: 2px;
  border-top-color: var(--color-primary);
  border-top-right-radius: 1px;
  /*transition: 1s;*/
}

li a:hover {
  /*background: var(--color-primary);
  color: var(--light-theme);*/
  /*border-top-width: 2px;
  border-top-color: var(--color-primary-light);*/
  /*color: var(--color-primary-light);*/
  border-top-width: 2px;
  border-top-color: var(--color-orange);
  cursor: crosshair;
  /*transition: 1s;*/
}

.cursor-crosshair:hover {
  cursor: crosshair;
}

.checkbtn {
  font-size: 18px;
  color: var(--dark-theme);
  font-weight: 200;
  /*color: #333333;*/
  float: right;
  line-height: 60px;
  margin: 0px 30px 0 0;
  cursor: crosshair;
  display: none;
  justify-content: center;
  height: 100%;
  z-index: 30;
}

.checkbtn-icons {
  border-width: 1px;
  padding: 5px;
}

#check {
  display: none;
}

.image-container {
  display: flex;
  /*height: 600px;*/
  height: 98vh
}

.center {
  display: flex;
  justify-content: center;
}


.glass {
  background: rgba(31, 31, 31, 0.322);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(19, 18, 18, 0.842);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  padding: 0 10px;
  padding-bottom: 10px;
}

.image-part {
  flex: 1;
  /*height: 600px;*/
  height: 98vh;
  background-size: calc(var(--num-parts) * 100%) 100%;
  /*transform-origin: left;
  /* Punto de origen para la transformación */
  animation: splitAndMerge 5s ease-in-out;
  background-position: var(--position, 0%);

  -webkit-text-size-adjust: 100%;
  opacity: 1;
  /*transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42, 0, 1);
  transform-origin: 50% 50% 0px;*/
}

.footer-title {
  font-size: 13px;
  color: var(--color-white);
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer-link {
  font-size: 12px;
  color: var(--color-white);
  font-weight: 300;
}

a.enlace.d-flex.justify-content-center.align-items-center {
  z-index: 20;
}

ul {
  padding-left: 0rem;
}


@keyframes splitAndMerge {
  0% {
    background-position: calc(var(--position, 0%) + 3%);
    transform: scale(1);
  }

  /*50% {
    background-position: calc(var(--position, 0%));
    transform: scale(1);
  }*/

  100% {
    background-position: calc(var(--new-position, 0%) + 2%);
    transform: scale(1.1);
  }
}

@media (max-width: 952px) {
  .enlace {
    padding-top: 10px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
    display: inline-flex;
    width: 100%;
  }

  nav ul {
    float: right;
    /*margin-top: 72px;*/
  }

  li a:hover,
  li a.active {
    background: none;
    color: var(--color-primary);
    border-width: 0;
    font-weight: 600;
  }

  .white {
    color: var(--color-primary);
  }

  .white:hover {
    color: var(--color-orange);
  }

  button#dropdown-basic-2 {
    color: var(--color-primary);
  }
}

ul {
  margin-bottom: 0 !important;
}

@media (max-width: 1062px) {

  /* 858px */
  .checkbtn {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--light-theme);
    top: 50px;
    /*gap: 10px;*/
    left: -100%;
    /* text-align: center; */
    transition: all .5s;
    /* z-index: 25; */
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-top: 80px;
  }


  nav ul li {
    /*display: block;
    /* margin: 50px 0; *
    line-height: 30px;*/
    padding-left: 20px;
    border-bottom-width: 0.5px
  }

  nav ul li a {
    font-size: 12px;
    /*font-weight: 600;*/
    display: inline-flex;
    width: 100%;
  }

  li a:hover,
  li a.active,
  .dropdown-basic {
    background: none;
    color: #1d50dd;
  }

  #check:checked~ul {
    left: 0;
  }

  .white {
    color: var(--color-primary);
  }

  .white:hover {
    color: var(--color-orange);
  }

  button#dropdown-basic-2 {
    color: var(--color-primary);
  }
}


.tl-full-image-background .tl-text .tl-headline-date,
.tl-full-color-background .tl-text .tl-headline-date,
.tl-full-image-background .tl-text p .tl-headline-date,
.tl-full-color-background .tl-text p .tl-headline-date,
.tl-full-image-background .tl-text h3.tl-headline-date,
.tl-full-color-background .tl-text h3.tl-headline-date,
.tl-full-image-background .tl-text p h3.tl-headline-date,
.tl-full-color-background .tl-text p h3.tl-headline-date {
  color: #ea1c2b;
}

.css-141rheu {
  padding-bottom: 0rem !important;
}

.shadow {
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
  /* Otros estilos de sombra */
}

.islands__video-content {
  display: inline-flex;
  padding: .15rem;
  background-color: white;
  border-radius: 50%;
  cursor: crosshair;
}

.islands__video-icon {
  font-size: 2.5rem;
  color: var(--color-primary);
}

@media screen and (max-width: 320px) {
  .bd-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .controls__container {
    column-gap: .25rem;
  }

  .islands__popup-video {
    width: 230px;
    height: 100px;
  }
}


@media screen and (min-width: 768px) {
  .islands__video {
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .islands__video-icon {
    font-size: 2.5rem;
  }

  .islands__popup-video {
    width: 500px;
    height: 250px;
  }

  .font--50,
  .font-50 {
    text-align: left;
  }

  .timeline {
    margin-top: 190px;
  }

}

@media screen and (max-width: 768px) {
  .img-step {
    display: none;
  }

  .feature-title {
    margin-bottom: 0px;
    margin-top: 18px;
  }

  .timeline {
    margin-top: 0px;
  }
}


button.ant-btn.css-dev-only-do-not-override-1adbn6x.ant-btn-primary.ant-btn-sm.ant-tour-next-btn {
  display: none;
}

.css-1f0wxn3 {
  justify-content: center;
  gap: 1;
}

.transition-enter {
  animation: delayOpacity 0.2s linear;
  height: 100%;
}

@keyframes delayOpacity {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.transition-enter-active {
  opacity: 1;
  transform: translateY(0);
}

ol,
ul {
  padding-left: 0;
}

.zoomable-container {
  position: relative;
  width: 300px;
  /* Ajusta el ancho según tus necesidades */
  height: 200px;
  /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.zoomable-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.zoomable-container:hover .zoomable-image {
  transform: scale(2);
  cursor: crosshair;
}

.zoomable-container {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.zoomable-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.mt-4 {
  margin-top: 0rem !important;
}



/*.nava li a {
  display: block;
}

.nava li ul {
  display: none;
  position: absolute;
}

.nava li:hover>ul {
  display: block;
  flex-direction: column;
}

.nava li ul li {
  position: relative;
}*/

/*img {
  width: 100%;
  height: auto;
}*/

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes show-2 {
  from {
    opacity: 0;
    scale: 25%;
    transform: rotate(0deg);
  }

  to {
    opacity: 1;
    scale: 100%;
    transform: rotate(325deg);
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.circle {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show-2;
  animation-range: entry 10% cover 20%;
  animation-fill-mode: both;
}

img:nth-child(2) {
  animation-range: entry 35% cover 40%;
}

img:nth-child(3) {
  animation-range: entry 45% cover 50%;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
  }
}

.animated-accordion {
  animation: moveUpDown 2s linear infinite;
  margin-top: 70px;
}

.img-round {
  width: 31%;
  height: 390px;
  object-fit: cover;
  border-radius: 100px 100px 2px;
}

.img-round:nth-child(2) {
  border-radius: 100px 100px 2px;
}

.img-round:nth-child(3) {
  border-radius: 100px 100px 100px 2px;
}

.trapezoid {
  width: 100vh;
  height: 50vh;
  background-color: #3498db;
  clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 50% 100%);
}

.rounded-xl {
  border-radius: 10rem;
}

.index-carousel {
  display: flex;
  width: 100%;
  height: 98vh;
}

.index-carousel-img {
  background-color: #03296a99;
  background-blend-mode: soft-light;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*'--position': `${position}%`,
  '--new-position': `${newPosition}%`,
  '--num-parts': numParts,
  'transition': 'opacity 1s ease-in-out',
  backgroundSize: "cover",
  backgroundRepeat: "no-repeat",
  backgroundAttachment: 'fixed'*/
}

.index-carousel .index-carousel-img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.index-carousel .index-carousel-img:hover {
  cursor: crosshair;
  width: 80vh;
  opacity: 1;
  filter: contrast(120%);
}

.fade.modal.show {
  background-color: #03296a99;
}

.modal-dialog.modal-lg.modal-dialog-centered {
  /*background-color: #03296a49;*/
}

button.ytp-subtitles-button.ytp-button {
  display: none;
}

button.ytp-fullscreen-button.ytp-button {
  display: none;
}

.timeline-middle {
  box-shadow: 14px 12px 32px rgba(121, 142, 152, .34);
  color: var(--color-primary);
  border: 1px;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

.feature-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-primary);
}

.img-step {
  margin-top: -160px;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  box-shadow: 14px 12px 32px rgba(121, 142, 152, .34);
  border: 3px solid white;
}

.center-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 50px;
}

.diff-item-1>*,
.diff-item-2>* {
  object-fit: cover;
  height: auto;
}

.timeline-img-start {
  display: flex;
  justify-content: flex-start;
  /* justify-content: flex-end; */
}

.timeline-img-end {
  display: flex;
  justify-content: flex-end;
}

.mb-10 {
  padding-inline: 17px;
  margin-bottom: 0rem;
}

.timeline-start,
.timeline-end {
  margin: 0rem;
}

.timeline-vertical>li>hr {
  background-color: var(--color-primary);
}

.diff-resizer {
  width: 14rem;
}

.swipe {
  width: 40px;
  height: 40px;
}

a.dropdown-item {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 48px;
}

.img-cards {
  display: block;
  border: 0;
  width: auto;
  height: 225px;
  object-fit: cover;
  border-radius: 0.3rem 0.3rem 0 0;
}


.card {
  background: white;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  display: -webkit-box;
  -webkit-line-clamp: var(--title-line-clamp);
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 4px;
  color: #333;
  font-size: 1rem;
}

.card-content p {
  line-height: 1.5rem;
  font-size: .875rem;
  display: -webkit-box;
  letter-spacing: 0;
  margin: 0;
  color: var(--color-gray);
}

/* Flexbox stuff */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  /*flex: 1 0 500px;*/
  box-sizing: border-box;
  margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
  .card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    max-width: calc(25% - 1em);
  }
}

.centered {
  margin: 0 auto;
  padding: 0 10px;
}

.header {}

.cards-title {
  font-family: roboto-regular, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: var(--color-blue);
  display: flex;
  justify-content: center;
}

/*@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}*/