@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --light-theme: #ffffff;
  --dark-theme: #000000;
  --color-primary: #03296A;
  --color-primary-light: #03296a50;
  --color-primary-light-2: #eee;
  --deep-sky-blue: #00a0df;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.section-title {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.1;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #000000;
  text-align: center;
  margin: 0;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  min-width: 250px;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
  padding: 7px;
}

.field textarea {
  min-width: 250px;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
  padding: 7px;
  height: 135px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: var(--color-primary-light);
}

.row-base.row {
  margin-top: 3em;
}

.p-footer {
  padding: 30px 0px 30px 0px;
}

.project-title-card {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  text-shadow: 3px 3px 5px gray;
  box-shadow: #000000;
}

.text-shadow {
  color: #ffffff;
  text-shadow: 5px 5px 10px #333333;
}

.project-title-card-2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  text-shadow: 2px 2px 4px #B6B6B650;
}

.project figure {
  position: relative;
}

figure {
  margin: 0;
}

.bg-footer {
  background-color: var(--color-primary);
}

.p-section-50 {
  background-color: var(--color-primary-light-2);
}

.font-50 {
  font-size: 50px;
  font-weight: bold;
  line-height: 0;
  margin-top: 10px;
  color: var(--deep-sky-blue);
}

.font--50 {
  font-size: 15px;
  font-weight: 500;
  width: 90%;
  margin-bottom: 30px;
}

.css-141rheu {
  padding-bottom: 3rem !important;
}

.content-circle {
  position: relative;
  text-align: center;
  z-index: 99;
}

.css-0 {
  width: 100%;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  background-color: var(--color-primary);
  /*box-shadow: 0 0 3px 3px var(--color-primary-light);*/
}
.circle:hover {
  width: 15px;
  height: 15px;
  background-color: var(--color-primary);
  box-shadow: 1px 1px 8px 8px var(--color-primary-light);
}

.circle-01 {
  top: 16%;
  left: 17%;
}

.circle-02 {
  top: 26%;
  left: 25%;
}

.project {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.project-title {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 1.56em;
  line-height: 1.45;
  letter-spacing: 0.07em;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
}

.project-category {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #ea1c2b;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9em;
  height: 9em;
  margin: -4.5em;
  border-radius: 50%;
  background-color: #ea1c2b;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.7s;
}

.project-zoom {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #ea1c2b;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9em;
  height: 9em;
  margin: -4.5em;
  overflow: hidden;
  opacity: 0.3;
  transform: scale(0.5);
  transition: all 0.7s;
  background: url(https://www.marhnos.com.mx/public/web/img/zoom.png) 0 0 no-repeat;
}

.project-zoom:hover {
  opacity: 1;
  scale: 1.1;
}


body::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-theme) !important;
}

._main {
  color: var(--dark-theme);
}

.section-5 {
  padding: 25px 0px 0px 0px;
}

.text-modal-image {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: inherit;
}

.col-about-title-system {
  color: #ffffff;
  text-shadow: 3px 3px 5px gray;

}

.card__img,
.img_projects {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card__img:hover,
.img_projects:hover {
  transform: scale(1.03);
}

.img_projects:hover {
  transform: scale(1.15);
}

.col-about-info {
  text-align: justify;
}


nav {
  background: var(--light-theme);
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.enlace {
  position: absolute;
  padding: 5px 50px;
}

.logo {
  height: 80px;
}

.text-primary-blue {
  color: var(--color-primary);
}

nav ul {
  float: right;
  /* margin-right: 20px; */
  padding-top: 15px;
}

nav ul li {
  display: inline-block;
  line-height: 59px;
  margin: 0 12px;
}

nav ul li a {
  color: var(--color-primary);
  padding: 6px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.dropdown-basic {
  background: red;
  color: yellow;
}

li a.active,
li a:hover {
  background: var(--color-primary);
  color: var(--light-theme);
  /*transition: .5s;*/
}

.checkbtn {
  font-size: 30px;
  color: var(--dark-theme);
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.image-container {
  display: flex;
  height: 600px;
}


.glass {
  background: rgba(31, 31, 31, 0.322);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(19, 18, 18, 0.842);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  padding: 0 10px;
  padding-bottom: 10px;
}

.image-part {
  flex: 1;
  height: 600px;
  background-size: calc(var(--num-parts) * 100%) 100%;
  /*transform-origin: left;
  /* Punto de origen para la transformación */
  animation: splitAndMerge 5s ease-in-out;
  background-position: var(--position, 0%);

  -webkit-text-size-adjust: 100%;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42, 0, 1);
  transform-origin: 50% 50% 0px;
}

.footer-title {
  font-size: 13px;
  color: var(--color-white);
  font-weight: 600;
}

.footer-link {
  font-size: 12px;
  color: var(--color-white);
  font-weight: 300;
}


@keyframes splitAndMerge {
  0% {
    background-position: calc(var(--position, 0%) + 5%);
    transform: scale(1);
  }
  50% {
    background-position: calc(var(--position, 0%));
    transform: scale(1);
  }
  100% {
    background-position: calc(var(--new-position, 0%) + 5%);
    transform: scale(1.3);
  }
}

@media (max-width: 952px) {
  .enlace {
    padding-top: 10px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav ul {
    float: right;
    margin-top: 33px;
  }

  li a:hover,
  li a.active {
    background: none;
    color: #1d50dd;
  }
}

ul {
  margin-bottom: 0 !important;
}

@media (max-width: 1062px) {

  /* 858px */
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--light-theme);
    top: 57px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 25;
    padding-left: 0 !important;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 12px;
    font-weight: 600;
  }

  li a:hover,
  li a.active {
    background: none;
    color: #1d50dd;
  }

  #check:checked~ul {
    left: 0;
  }
}


.tl-full-image-background .tl-text .tl-headline-date,
.tl-full-color-background .tl-text .tl-headline-date,
.tl-full-image-background .tl-text p .tl-headline-date,
.tl-full-color-background .tl-text p .tl-headline-date,
.tl-full-image-background .tl-text h3.tl-headline-date,
.tl-full-color-background .tl-text h3.tl-headline-date,
.tl-full-image-background .tl-text p h3.tl-headline-date,
.tl-full-color-background .tl-text p h3.tl-headline-date {
  color: #ea1c2b;
}

.shadow {
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
  /* Otros estilos de sombra */
}